rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /domicilia/{docId} {
      // Leitura liberada (para APIs do professor)
      allow read: if true;
      // Escrita apenas com auth (admin/pedagogo)
      allow create: if request.auth != null;
      allow update: if request.auth != null;
      allow delete: if request.auth != null;
    }
  }
}
